# Core ML
torch
torchvision
transformers>=4.39.1,<4.50.0
timm
kornia
devicetorch

# Image processing
pillow
opencv-python-headless
numpy
scikit-image

# Web framework
flask>=3.0.0
werkzeug

# Utilities
fsspec
huggingface-hub
pydantic
